/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# RubyMine
/.idea/

# OSX
.DS_Store

.ruby-version
.ruby-gemset

# RuboCop config cache file
.rubocop-https---raw-githubusercontent-com-voxable-labs-ruby-style-guide-master--rubocop-yml

